html {
  font-size: 20px;
}

body {
  background-color: #EE202E;
  font-family: 'Passion One', cursive;
}

header {
  margin-bottom: 35px;
  background-color: rgba(0, 0, 0, 0.87)
}

header ul {
  margin-right: 50px;
}

header li {
  padding-left: 10px;
  letter-spacing: 3px;
  font-size: 130%;
}

.menu-links {
  text-decoration: none;
  color: #fff;
}

.menu-links:hover {
  color: #EE202E;
  text-decoration: none;
}

.alt-nav-item {
  text-decoration: none;
  color: #fff;
}

.alt-nav-item:hover {
  color: #EE202E;
  text-decoration: none;
}

.big-container {
  margin: 0px 25px;
  margin-top: 65px;
  margin-bottom: 65px;
}

.big-container img {
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.356)
}

@media (max-width: 575.98px) { 
  .menu-photo {
    width: auto;
    height: 80vh;
  }

  .menu-logo {
    height: 85px;
    width:  85px;
  }

  header ul {
    margin-right: 20px;
  }

  header li {
    padding-left: 5px;
    letter-spacing: 2px;
    font-size: 100%;
  }
}

/* FOOTER CONTENT */
section {
  background-color: #000;
  margin-top: 25px;
  text-align: center;
}

.nav {
  justify-content: center;
}

.footer-logo {
  height: 55px;
  width: 55px;
  margin: 15px 25px;
}

.footer-bottom p {
  padding-top: 8px;
  color: #EE202E;
}

#copyright {
  margin-left: 10px;
}