/* colors */

/* Yellow
HTML - #FDF104 
RBG - 253 241 4
*/
/* Red
HTML - #CE2028
RBG - 206 32 40
 */

/* global CSS */
html {
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
    word-spacing: 4px;
    letter-spacing: 1px;
}

p {
    text-transform: uppercase;
    word-spacing: 4px;
    letter-spacing: 1px;
}

/* Header CSS */
.header {
    background-image: url(../images/header-one.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
}

/* Header Logo CSS */
.main-logo {
    transform: rotate(90deg);
    padding: 10px;
    margin-bottom: 5px;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 75px;
    top: 25px;

}

/* Positioning the Hero Text Box in the middle */
.hero-box {
    text-align: center;
    position: absolute;
    left: 15%;
    top: 32%;
}

/* Styling h1 heading in the hero text box PIZZA SHUTTLE */
.hero-box h1 {
    font-size: 650%;
    font-weight: 1000;
    color: #FDF104;
    text-shadow: -3px 0 #CE2028, 0 3px #CE2028, 3px 0 #CE2028, 0 -3px #CE2028;
}

/* Styling Home of the Cream in the hero text box */
.hero-box p {
    color: #FDF104;
    font-size: 220%;
    font-weight: 800;
    text-shadow: -2px 0 #CE2028, 0 2px #CE2028, 2px 0 #CE2028, 0 -2px #CE2028;
    letter-spacing: 1px;
    word-spacing: 2px;
}

/* If we need to move the icons from the right */
#social-media-icons {

}

/* Styling for the buttons in the hero box */
.btn-hero{
    margin-right: 50px;
    width: 150px;
    transition: 0.2s, color 0.2s
}

/* Styling for the order button color to match */
.order-btn:link,
.order-btn:visited {
    color: #CE2028;
}

/* text color of menu button */
.menu-btn {
    color: #FFF;
}

/* text color of order button when hovered of clicked */
.order-btn:hover,
.order-btn:active {
    color: #FDF104;
    
}

/* ------------------------ */
/* --- Specials Section --- */
/* ------------------------ */
.deals-headline {
    text-align: center;
}

.food-specials h2 {
    font-size: 220%;
    font-weight: 700;
    margin-top: 45px;
    margin-bottom: 50px;
    color: #FDF104;
    text-shadow: -2px 0 #CE2028, 0 2px #CE2028, 2px 0 #CE2028, 0 -2px #CE2028;
}

.food-specials h2:after {
    display: block;
    height: 2px;
    background-color: #CE2028;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
}

.large-special {
    margin-bottom: 30px;
    color: #FDF104;
    text-shadow: -2px 0 #CE2028, 0 2px #CE2028, 2px 0 #CE2028, 0 -2px #CE2028;
}

.large-special-card {
    border-radius: 20px;
    padding-top: 25px;
    text-align: center;
}

.small-special {
    color: #FDF104;
    text-shadow: -2px 0 #CE2028, 0 2px #CE2028, 2px 0 #CE2028, 0 -2px #CE2028;
}

.small-special h4:after {
    display: block;
    height: 2px;
    background-color: #000;
    content: " ";
    width: 75px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 25px;
}

.small-special-p {
    font-size: 110%;
}

.small-special-card {
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    background-color: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45))
}

.example {
    background-color: black;
}

.example h4:after,
.example h3:after {
        display: block;
        height: 2px;
        background-color: #fff;
        content: " ";
        width: 75px;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 25px;
}

.card-option {
    margin-top: 35px;
}

.price {
    font-size: 200%;
}

.price-large {
    padding-bottom: 25px;
}


