/* colors */

/* Yellow
HTML - #FFF200
*/
/* Red
HTML - #EE202E
 */

 @font-face {
    font-family: 'leagueGothic';
    src: url('assets/league-gothic-master/webfonts/leaguegothic-regular-webfont.eot');
    src: url('assets/league-gothic-master/webfonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/league-gothic-master/webfonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('assets/league-gothic-master/webfonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('assets/league-gothic-master/webfonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Italic */
@font-face {
    font-family: 'leagueGothic';
    src: url('assets/league-gothic-master/webfonts/leaguegothic-italic-webfont.eot');
    src: url('assets/league-gothic-master/webfonts/leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/league-gothic-master/webfonts/leaguegothic-italic-webfont.woff') format('woff'),
         url('assets/league-gothic-master/webfonts/leaguegothic-italic-webfont.ttf') format('truetype'),
         url('assets/league-gothic-master/webfonts/leaguegothic-italic-webfont.svg#league_gothic_italicregular') format('svg');
    font-weight: normal;
    font-style: italic;

}

/* Condensed */
@font-face {
    font-family: 'leagueGothicCondensed';
    src: url('assets/league-gothic-master/webfonts/leaguegothic-condensed-regular-webfont.eot');
    src: url('assets/league-gothic-master/webfonts/leaguegothic-condensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/league-gothic-master/webfonts/leaguegothic-condensed-regular-webfont.woff') format('woff'),
         url('assets/league-gothic-master/webfonts/leaguegothic-condensed-regular-webfont.ttf') format('truetype'),
         url('assets/league-gothic-master/webfonts/leaguegothic-condensed-regular-webfont.svg#league_gothic_condensed-Rg') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Condensed Italic */
@font-face {
    font-family: 'leagueGothicCondensed';
    src: url('assets/league-gothic-master/webfonts/leaguegothic-condensed-italic-webfont.eot');
    src: url('assets/league-gothic-master/webfonts/leaguegothic-condensed-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/league-gothic-master/webfonts/leaguegothic-condensed-italic-webfont.woff') format('woff'),
         url('assets/league-gothic-master/webfonts/leaguegothic-condensed-italic-webfont.ttf') format('truetype'),
         url('assets/league-gothic-master/webfonts/leaguegothic-condensed-italic-webfont.svg#league_gothic_condensed_itaRg') format('svg');
    font-weight: normal;
    font-style: italic;
}

/* global CSS */
html {
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

body {
    /* font-family: 'francois One', sans-serif; */
    /* font-family: 'leagueGothic', sans-serif; */
    /* font-family: 'Archivo Black', sans-serif; */
    /* font-family: 'Staatliches', cursive; */
    /* font-family: 'Ramabhadra', sans-serif; */
    font-family: 'Passion One', cursive;
    /* font-family: 'Bungee', cursive; */
    /* font-family: 'Bowlby One SC', cursive; */
    
}

h1, h2, h3, h4 {
    text-transform: uppercase;
    word-spacing: 4px;
    letter-spacing: 8px;
}

p {
    text-transform: uppercase;
    word-spacing: 4px;
    letter-spacing: 3px;
}

a {
    text-decoration: none;
}

/* Header CSS */

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url(../GraphicAssets/HeaderImages/cheesepull.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10 25px 0 25px;
  }

  .logo {
      height: 200px;
      width: 200px;
      padding: 20px 0 0 20px;
      margin-top: 50px;
  }

  header h1 {
      font-size: 600%;
      color: #fff;
      text-shadow: 1px 1px 1px #000;
      font-weight: 300;

  }

  header p {
      font-size: 800%;
      letter-spacing: 3px;
      color: #fff;
      word-spacing: 10px;
      text-shadow: 1px 1px 1px #000;
  }

  .lead::after {
    display: block;
    height: 2px;
    background-color: #EE202E;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-shadow: 1px 1px 1px #000;
  }

.masthead img {
    margin: 0;
    padding: 0;
}


.masthead ul {
    margin-right: 50px;
}

.index-nav-items {
    text-decoration: none;
    color: #fff;
}

.index-nav-items:hover {
    color: #EE202E;
    text-decoration: none;
}

.masthead li {
    padding-left: 10px;
    letter-spacing: 3px;
    font-size: 130%;

}




#button {
    height: 300px;
    width: 300px;
}



.temp-button {
    position: relative;
    font-size: 100%;
    margin-bottom: 40px;
}



/* ------------------------ */
/* --- Specials Section --- */
/* ------------------------ */

/* Centering the deals headline content */
.deals-headline {
    font-size: 200%;
    text-align: center;
    /* text-shadow: 1px 1px 1px rgba(226, 12, 12, 0.171); */
}


/* styling the h2 header "deals" */
.food-specials h2 {
    font-size: 220%;
    font-weight: 700;
    margin-top: 45px;
    margin-bottom: 50px;
    color: #000;
    
}

/* creating a redline for after "deals" headline */
.food-specials h2:after {
    display: block;
    height: 2px;
    background-color: #EE202E;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* styling the large-special cards text */
.large-special {
    margin-bottom: 30px;
}

.large-mobile {
    display: none;
}

.image-container {
    box-shadow: 2px 2px 2px #FFF200;
}

@media (max-width: 575.98px) {
    header h1 {
        font-size: 400%;
    }

    .large-mobile {
        display: block;
    }

    .large-regular {
        display: none;
    }

    .navbar-brand img {
        width: 85px;
        height: 85px;
    }

    .masthead li {
        padding-left: 5px;
        letter-spacing: 2px;
        font-size: 100%;
    
    }

    .masthead ul {
        margin-right: 20px;
    }
 }

.large-special img {
    height: 100%;
    width: 100%;
}

/* rounding corners, adding padding, and centering text in the special cards */
.large-special-card {
    border-radius: 20px;
    padding-top: 25px;
    text-align: center;
    height: 100%;
}

/* Styling the text in the small special cards */
.small-special {
    margin-bottom: 25px;
}

.small-special img {
    height: 100%;
    width: 100%;
    box-shadow: 2px 2px 2px #FFF200;
}

/* styling the p tags font size in the small special cards */
.small-special-p {
    font-size: 110%;
}

/* styling the small special cards appropriately */
.small-special-card {
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 10px;
    height: 92%;
}


/* Footer Section */

/* placing margin at the top of the section, centering the text, and placing a gradient over the section */
.footer-section {
    margin-top: 65px;
    text-align: center;
    background: rgb(253, 250, 250);
}

.nav {
    justify-content: center;
}

/* providing padding between top elements in the footer content. */
.footer-content {
    padding-top: 115px;
    margin-bottom: 50px;
}

.footer-content h5 {
    padding-bottom: 15px;
}

.footer-content h5:after {
    display: block;
    height: 2px;
    background-color: #EE202E;
    content: " ";
    width: 35px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer-bottom {
    background-color: #000;
}

.footer-bottom p {
    padding-top: 8px;
    color: #EE202E;
}

.footer-logo {
    height: 55px;
    width: 55px;
    margin: 15px 0;

}
.center {
    text-align: center;
    
}

#copyright {
    margin-left: 10px;
}